<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

## Exercise 1 (Celcius to Farenheit) 

You are provided with the following list of temperatures in Celsius. Write a quick Python snippet that converts each temperature to Fahrenheit and prints both temperatures.

In [1]:
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]

In [4]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

for celsius in temperatures_celsius:
    fahrenheit = celsius_to_fahrenheit(celsius)
    print(f"{celsius} Celsius is {fahrenheit} Fahrenheit")

0 Celsius is 32.0 Fahrenheit
5 Celsius is 41.0 Fahrenheit
10 Celsius is 50.0 Fahrenheit
15 Celsius is 59.0 Fahrenheit
20 Celsius is 68.0 Fahrenheit
25 Celsius is 77.0 Fahrenheit
30 Celsius is 86.0 Fahrenheit
35 Celsius is 95.0 Fahrenheit
40 Celsius is 104.0 Fahrenheit
45 Celsius is 113.0 Fahrenheit
50 Celsius is 122.0 Fahrenheit

## Exercise 2

You can put a loop within a loop to do doubly loopy stuff. Here is an example:

In [16]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}', end='\t')
    print('\n')

A1	A2	A3

B1	B2	B3

C1	C2	C3

Write a Python snippet that prints a multiplication table (up to 5) for numbers 1 through 5 using nested for loops.

In [25]:
for i in range(1, 6):
    row = f"{i} :"
    for j in range(1, 6):
        row += f" {i * j:3}"  # Format each product with 3 characters width
    print(row)

1 :   1   2   3   4   5
2 :   2   4   6   8  10
3 :   3   6   9  12  15
4 :   4   8  12  16  20
5 :   5  10  15  20  25

Explanation of respective code functions: 

Outer Loop (for i in range(1, 6):):

The outer loop iterates over the numbers 1 through 5 (inclusive). The variable i represents the current row in the multiplication table.

Row Initialization (row = f"{i} :"):

For each value of i, a new row is initialized as a string containing the value of i followed by a colon. This forms the leftmost part of each row.

Inner Loop (for j in range(1, 6):):

The inner loop iterates over the numbers 1 through 5 (inclusive). The variable j represents the current column in the multiplication table.

Product Calculation (row += f" {i * j:3}"):

Within the inner loop, the product of i * j is calculated for each combination of i and j. The resulting product is formatted using f"{i * j:3}". Here, :3 specifies that the resulting string should be right-aligned within a field of width 3 characters. This ensures that the columns are aligned neatly.

Row Printing (print(row):

After the inner loop completes for a specific value of i, the row is printed. This prints the entire row, including the leftmost part (which is the value of i followed by a colon) and the calculated products for each column.

Overall Output:

The nested loops and formatting result in the printing of a multiplication table where each row corresponds to a number from 1 to 5, and each column in that row contains the product of the row number and the column number.